.success{
    background-color: rgb(78, 239, 78);
    text-align: center;
    font-size: 25px;
    height: 30px;
    text-align: center;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);  
  transition: opacity 0.5s;
  z-index: 1000;
  opacity: 0;

}