.image{
    width: 100%;
    height: 80vh;
    z-index: -1;
    position: relative;
    opacity: 0.7;
}

.card{
    width: 50%;
    margin-left: 10px;
}

.data{
z-index: 1;
position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 2;
  text-align: center;
  font-weight: 600;
}

.cast{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cast-images{
  height: 155px;
  width: 135px;
  border-radius: 10%;
  flex-shrink: 0;
  margin-bottom: 9px;
  object-fit: fill;
}

.card-1{
  width: 50%;
  /* display: flex; */
  margin-top: 30px;
  margin-left: 10px;
}

.mat-mdc-card-content {
  /* display: block; */
   padding: 0 0;
}

.section {
  display: flex;
}

.section1, .section2 {
  flex: 1;
  margin-right: 20px; /* Adjust the margin as needed */
}

.card-1, .card-2 {
  width: 100%;
}

.cast {
  display: flex;
  flex-wrap: wrap;
}

/* .cast-images {
  width: 50px; 
  height: 50px; 
  object-fit: cover;
  margin-right: 5px; 
} */

.genre-card {
  display: flex;
}

.genre {
  margin-right: 5px; /* Adjust the margin between genres as needed */
}
