<div >
    <div>
        <img class="image" mat-card-image src="https://image.tmdb.org/t/p/original{{movieData?.backdrop_path}}"
            alt="photo of {{movieData?.title}}">
    
        <div class="data">
            <h2>{{movieData?.title}}</h2>
            <p>{{movieData?.tagline}}</p>
            
            <button mat-raised-button color="warn">Play Now</button>
        </div>
    </div>
</div>
<div class="section">
    <div class="section1">
        <mat-card class="card-1">
            <mat-card-header>
                <mat-card-title>Description</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{movieData?.overview}}
                </p>
            </mat-card-content>
        </mat-card>
        
        <mat-card class="card-1"> 
            <mat-card-header>
                <mat-card-title>Cast</mat-card-title>
            </mat-card-header>
            <div class="cast">
                <mat-card-content *ngFor="let data of movieCast" >
                     <div *ngIf="data.profile_path && data.known_for_department === 'Acting'">
                        <img mat-card-avatar class="cast-images" src="https://image.tmdb.org/t/p/original{{data?.profile_path}}" alt="not found">
                    </div>
                </mat-card-content>
            </div>
         
        </mat-card>
    </div>
     

    <div class="section2">
        <mat-card class="card-1">
            <mat-card-title><mat-icon>calendar_today</mat-icon>Released Year</mat-card-title>
            <mat-card-content>
              {{ movieData?.release_date | date:'yyyy' }}
            </mat-card-content>
        </mat-card>
       
       
        <mat-card class="card-1">
            <mat-card-title><mat-icon>reorder</mat-icon>Genres</mat-card-title>
            <mat-card-content class="genre-card">
                <div class="genre" *ngFor="let genre of movieGenre">
                    {{genre}}
                </div>
            </mat-card-content>
        </mat-card>
  
     
        <mat-card class="card-1">
            <mat-card-header>
                <mat-card-title>Director</mat-card-title>
            </mat-card-header>
            <div class="cast">
                <mat-card-content *ngFor="let data of movieCast" >
                     <div *ngIf="data.profile_path && data.known_for_department === 'Directing'">
                        <img mat-card-avatar class="cast-images" src="https://image.tmdb.org/t/p/original{{data?.profile_path}}" alt="not found">
                    </div>
                </mat-card-content>
            </div>
        </mat-card>

        <mat-card class="card-1">
            <mat-card-header>
                <mat-card-title>Music</mat-card-title>
            </mat-card-header>
            <div class="cast">
                <mat-card-content *ngFor="let data of movieCrew" >
                    <owl-carousel-o [options]="customOptions">

                        <ng-container *ngFor="let slide of apiData">
                          <ng-template class="slide" carouselSlide [id]="slide.id">
                            <img [src]="slide.url" [alt]="slide.id" [title]="slide.id">
                          </ng-template>
                        </ng-container>
                    
                      </owl-carousel-o>  
                    <img mat-card-avatar class="cast-images" src="https://image.tmdb.org/t/p/original{{data?.profile_path}}" alt="not found">
                </mat-card-content>
            </div>
        </mat-card>
        </div>
    </div>


       
     
    <!-- </div> -->
   




<!-- <div>
    <mat-card class="">
        <mat-card-title>Reviews</mat-card-title>
        <mat-card-content *ngFor="let review of  reviews">
            <mat-card-subtitle>{{review?.author_details.name}}</mat-card-subtitle>
            {{review?.content}}
        </mat-card-content>
        
    </mat-card>
</div> -->


<!-- <div>
    <div>
        <img class="image" mat-card-image src="https://image.tmdb.org/t/p/original{{tvshows?.backdrop_path}}"
            alt="photo of {{tvshows?.title}}">
    
        <div class="data">
            <h2>{{tvshows?.title}}</h2>
            <p>{{tvshows?.tagline}}</p>
            
            <button mat-raised-button color="warn">Play Now</button>
        </div>
    </div>
</div> -->







