<div>
    <div>
        <img class="image" mat-card-image src="https://image.tmdb.org/t/p/original{{movieData?.backdrop_path}}"
            alt="photo of {{movieData?.title}}">

        <div class="data">
            <h2>{{movieData?.title}}</h2>
            <p>{{movieData?.tagline}}</p>

            <button mat-raised-button color="warn" [routerLink]="[]">Play Now</button>
            <!-- <iframe width="560" height="315" [src]='safeURL' frameborder="0" allowfullscreen></iframe> -->
        </div>
    </div>
</div>
<div class="section">
    <div class="section1" style="display: inline-block; width: 50%;">

        <mat-card class="card-1">
            <mat-card-header>
                <mat-card-title>Seasons and episodes</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-accordion>
                <mat-expansion-panel *ngFor="let item of movieseasons">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                          Season  {{item.season_number }}
                        </mat-panel-title>
                        <mat-panel-description>
                           {{item.episode_count}} Episodes
                           {{item.id}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div *ngFor="let season of allSeasonDetails">
                        <h2>{{ season.id }}</h2>
                        <p>Air Date: {{ season.air_date || 'Not available' }}</p>
                        
                        <div *ngIf="season.episodes && season.episodes.length">
                            <h3>Episodes:</h3>
                            <div *ngFor="let episode of season.episodes">
                              <p>Episode Number: {{ episode.episode_number }}</p>
                              <p>Name: {{ episode.name }}</p>
                              <p>Air Date: {{ episode.air_date || 'Not available' }}</p>
                              <!-- Add other episode details as needed -->
                              <hr>
                            </div>
                   </div>
                   </div>
                </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
        </mat-card>


        <mat-card class="card-1">
            <mat-card-header>
                <mat-card-title>Description</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{movieData?.overview}}
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card class="card-1">
            <mat-card-header>
                <mat-card-title>Cast</mat-card-title>
            </mat-card-header>
            <div class="cast">
                <mat-card-content>
                    <owl-carousel-o [options]="customOptions">
                        <ng-container *ngFor="let data of movieCast">
                            <ng-template carouselSlide
                                *ngIf="data.profile_path && data.known_for_department === 'Acting'">
                                <img mat-card-avatar class="cast-images"
                                    src="https://image.tmdb.org/t/p/original{{data?.profile_path}}" alt="not found">
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </mat-card-content>
            </div>

        </mat-card>
    </div>


    <div class="section2">

        <mat-card class="card-2">
            <mat-card-title><mat-icon>calendar_today</mat-icon>Released Year</mat-card-title>
            <mat-card-content>
                {{ movieData?.release_date | date:'yyyy' }}
            </mat-card-content>
        </mat-card>

        <mat-card class="card-2">
            <mat-card-title><mat-icon>reorder</mat-icon>Genres</mat-card-title>
            <mat-card-content class="genre-card">
                <div class="genre" *ngFor="let genre of movieGenre">
                    {{ genre.name }}
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="card-2">
            <mat-card-title><mat-icon>reorder</mat-icon>Available languages</mat-card-title>
            <mat-card-content class="genre-card">
                <div class="genre" *ngFor="let lang of movielang">
                    {{ lang.english_name }}
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="card-2">
            <mat-card-header>
                {{movieCast?.profile_path}}
                <mat-card-title>Director</mat-card-title>
            </mat-card-header>
            <div class="cast">
                <mat-card-content>
                    <owl-carousel-o [options]="customOptions">
                        <ng-container *ngFor="let data of movieCast">
                            <ng-template carouselSlide
                                *ngIf="data.profile_path && data.known_for_department === 'Directing'">
                                <img mat-card-avatar class="cast-images_directing"
                                    src="https://image.tmdb.org/t/p/original{{data?.profile_path}}" alt="not found">
                                <p>{{data?.name}}</p>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </mat-card-content>
            </div>

        </mat-card>
        <!-- Director Card -->
        <mat-card class="card-2">
            <mat-card-header>
                <mat-card-title>Production</mat-card-title>
            </mat-card-header>
            <div class="cast">
                <mat-card-content>
                    <owl-carousel-o [options]="customOptions">
                        <ng-container *ngFor="let data of movieCrew">
                            <ng-template carouselSlide
                                *ngIf="data.profile_path && data.known_for_department === 'Production'">
                                <img mat-card-avatar class="cast-images_production"
                                    src="https://image.tmdb.org/t/p/original{{data?.profile_path}}" alt="not found">
                                <p>{{data?.name}}</p>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </mat-card-content>
            </div>
        </mat-card>
    </div>
</div>