
<div>
    <button (click)="navigate('movie')">Movies</button>
    <button (click)="navigate('tv')">Tv Shows</button>
</div>


  <div>
    <section>

    <!-- <h1 *ngIf="selectedTab === 'movie'">Now Playing{{selectedTab}}</h1>
    <div class="div-1">
        <mat-card class="card" *ngFor="let item of movies" routerLink="/movie-data/{{item.id}}">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title></mat-card-title>
            </mat-card-header> 
            <img mat-card-image src="https://image.tmdb.org/t/p/original{{item.poster_path}}" alt="photo of {{item.title}}">
            <mat-card-content>
              <p>
                {{ item.vote_average.toFixed(1) }}
              </p>
            </mat-card-content>
          </mat-card>
    </div> -->

    <h1>Trending</h1>
    <div class="div-2">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let item of trendingMovies">
          <ng-template carouselSlide >
            <div [routerLink]="[item.id]">
              <mat-card class="card">
                <!-- Your existing card content -->
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>
                    <ng-container *ngIf="selectedTab === 'movie' ? 'movie' :tv">{{item.title}}</ng-container>
                    <ng-container #tv>{{item.name}}</ng-container>
                  </mat-card-title>
                </mat-card-header> 
                <img mat-card-image src="https://image.tmdb.org/t/p/original{{item.poster_path}}" alt="photo of {{item.title}}">
                <mat-card-content>
                  <p>
                    {{ item.vote_average.toFixed(1) + "⭐"}}
                  </p>
                </mat-card-content>
              </mat-card> 
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    
    <h1>Popular</h1>
    <div class="div-2">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let item of airshow">
          <ng-template carouselSlide >
            <div [routerLink]="[item.id]">
              <mat-card class="card" *ngIf="item.poster_path">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>
                    <ng-container *ngIf="selectedTab === 'movie' ? 'movie' :tv">{{item.title}}</ng-container>
                    <ng-container #tv>{{item.name}}</ng-container>
                  </mat-card-title>
                </mat-card-header> 
                <img mat-card-image src="https://image.tmdb.org/t/p/original{{item.poster_path}}" alt="photo of {{item.title}}">
                <mat-card-content>
                  <p>
                    {{ item.vote_average.toFixed(1) }}
                  </p>
                </mat-card-content>
              </mat-card> 
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
