<div class="custom-form-field">

    <mat-form-field>
        <mat-label>{{label}}</mat-label>
        <input matInput [formControl]="control"    [type]="type !== 'password' ? 'text' : (hide ? 'password' : 'text')"
        *ngIf="type !== 'textarea'"  [placeholder]="placeholder" />
        <a  *ngIf="type === 'password'"  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>   
    </a>
        <textarea
        matInput
        matTextarea
        [formControl]="control"
        *ngIf="type === 'textarea'"
        rows="4"
      ></textarea>
            
        <!-- <ng-container *ngIf="control.touched && control.dirty"> -->
            <mat-error *ngIf=" control.errors?.required">Field is required</mat-error>
            <mat-error *ngIf=" control.errors?.minlength">Name should be atleast 3 characters</mat-error>
            <mat-error *ngIf="control.errors?.email">Enter valid email</mat-error>
            <mat-error *ngIf="control.errors?.emailPresent">Email is already present</mat-error>
            <mat-error *ngIf="control.errors?.pattern">Password should contain atleast 8 characters</mat-error>

    </mat-form-field>
      
</div>  