<nav class="navbar">
    <div class="logo">
        <img src="assets/images/logo.png" alt="" class="logo-img">
        <p class="logo-text">StreamVibe</p>
    </div>
    <div>
         <ul class="nav-items">
        <li><a href="">Home</a></li>
        <li><a href="">Movies & Shows</a></li>
        <li><a href="">Support</a></li>
        <li><a href="">Subscription</a></li>
    </ul>
    </div>
   <div>
    <ul class="side-items">
        <li>Search</li>
        <li>Notification</li>
    </ul>
   </div>

</nav>
