<app-alert *ngIf="showAlert"> {{alertMsg}}</app-alert>
<div class="custom-form-field">
  <form [formGroup]="userForm" id="form" action="">

    <div>
      <h1>{{value}} Form</h1>
      <app-input [control]="name" label="Enter your name"></app-input>
    </div>
    <div>
      <app-input [control]="email" type="email" label="Enter your email"></app-input>
      
    </div>
    <div>

      <app-input [control]="phoneno" label="Enter your phone number"></app-input>
      
    </div>
    <div>

      <mat-form-field>
        <mat-label>Select Website</mat-label>
        <mat-select formControlName="website" multiple>
          <mat-option *ngFor="let website of websites" [value]="website.value">
            {{website.viewValue}}
          </mat-option>

        </mat-select>
        <mat-error *ngIf="userForm.get('website')?.hasError('required')">
          Please select website
        </mat-error>
      </mat-form-field>

    </div>
    <div>
      <mat-form-field>
        <mat-label>Enter Your DOB</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob" maxDate="now" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="userForm.get('dob')?.hasError('required')">Date of birth is required</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Select Your Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.get('gender')?.hasError('required')">Gender is required</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-radio-group formControlName="domain">
        <mat-label>Choose your Domain</mat-label>
        <mat-radio-button value="Frontend">
          <label for="frontend-radio">FrontEnd</label>
        </mat-radio-button>

        <mat-radio-button value="Backend">
          <label for="backend-radio">BackEnd</label>
        </mat-radio-button>

        <mat-radio-button value="Tester">
          <label for="tester-radio">Tester</label>
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
     
        <!-- <input matInput  formControlName="password" placeholder="Password"
          maxlength="8" /> -->
        <!-- <input matInput [type]="hide ? 'password' : 'text'"> -->

    <app-input type="password" [control]="password" label="Enter password"  ></app-input>   
     
        
    </div>
    <div>
      <app-input type="textarea" [control]="address" rows="4" label="Enter your address"></app-input>
    </div>
    
    <div>
      <button mat-raised-button color="accent" (click)="onSubmit($event)" [disabled]="!userForm.valid"
        class="btn-add">{{button}}</button>
      <button mat-raised-button color="accent" (click)="reset()" class="btn-reset">Reset</button>
    </div>
  </form>
</div>