.custom-form-field{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  mat-form-field{
    width: 500px;
  }
  h1{
    text-align: center;
    font-weight: 500;
  }
 
  .btn-add{
    padding: 10px;
  }
  .btn-reset{
    margin-left: 9px;
  }
}