<!-- <div class="login-container">
    <div class="logo">FilmFame
        <div class="desc">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque, ab non voluptatibus iusto quisquam dicta
            unde tenetur nemo nam eius, sed accusamus atque qui eveniet repudiandae odit. Sint id ex sunt possimus quis
            facere, neque nemo magni officia animi, debitis quam exercitationem et. Culpa, delectus maxime accusamus
            esse dolorem beatae!

            <div class="login-form">
                <div class="login-fields">
                    <div class="form-group">
                        <label for="uname" class="label">Username</label>
                        <input class="input" type="text" name="uname" [(ngModel)]="uname">

                    </div>
                    <div class="form-group">
                        <label for="password" class="label">Password</label>
                        <input class="input" type="password" name="password" [(ngModel)]="password">
                    </div>

                </div>
                <div class="btn-container">
                    <div class="errmsg">
                        {{ errmsg }}
                    </div>

                    <button class="btn" (click)="login()">
                        Submit
                    </button>

                </div>
            </div>
        </div>
    </div>
</div> -->